.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.header {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.metrics_card {
  background: rgba(46, 45, 45, 0.1);
  border-radius: 10px;
  border: 1px solid gray;
  width: 90%;
  height: 100px;
  padding: 7px;
  margin-top: 10px;
  font-size: 20px;
}
.heading {
  font-size: 20px;
}
